<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aquib.myattendencemanagementsystem">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/AMS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeacherLoginActivity"
            android:label="@string/Teacher_login" />
        <activity
            android:name=".StudentPortal"
            android:label="@string/view_attendence" />
        <activity
            android:name=".Register_User"
            android:label="@string/Add_teacher" />
        <activity
            android:name=".Teacher_Portal"
            android:label="@string/Admin_Portal" />
        <activity
            android:name=".MarkAttendence"
            android:label="@string/markAttendence" />
        <activity
            android:name=".Add_Student"
            android:label="@string/AddStudent" />
        <activity
            android:name=".Modify_Student"
            android:label="Modify Student" />
        <activity
            android:name=".Modify_Teacher"
            android:label="Modify Teacher" />
        <activity
            android:name=".ViewStudent"
            android:label="@string/student_list" />
        <activity
            android:name=".ViewTeacher"
            android:label="@string/teacher_list" />
        <activity
            android:name=".Add_Subject"
            android:label="@string/addSubject" />
        <activity
            android:name=".Modify_Subject"
            android:label="@string/edit_subject" />
        <activity
            android:name=".ViewSubject"
            android:label="@string/subject_list" />
        <activity
            android:name=".Attendence_List"
            android:label=" " />
        <activity
            android:name=".View_Attendence_Database"
            android:label=" " />
        <activity
            android:name=".Modify_Attendence_Database"
            android:label=" " />
        <activity
            android:name=".ViewAttendenceByStudentList"
            android:label=" " />
        <activity
            android:name=".Dash_Main"
            android:label="Dash" />
        <activity android:name=".ViewClassAttendeance"
            android:label="Class Attendance"/>
        <activity android:name=".ViewAttendenceByClassList"
            android:label="Class Attendence List"/>
        <activity android:name=".DeleteAttendence"
            android:label="Delete Attendance Session"/>
        <activity android:name=".Forgot_password"
            android:label="Forgot Password">

        </activity>
    </application>

</manifest>